/* ------ Body ---- */

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
} 

/* ---------- Home page -------------- */

.jumbotron {
    background-image: url('/images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
  }



.logo{
    margin-left: 10px;
}


/* ----- Shop page ---------- */

.header-shop{
    height: 40px;
    padding-left: 20px;
}

.icon-basket{
    margin-right: 5px;
}

.ariane {
    margin-top: 25px;
}

.basket-img {
    width: 100px;
}

.quantity{
display :flex;
flex-direction: row;
width:80%;
align-items: center;
}



.no-article {
    font-size: italic;
    color: crimson;
}


/* ----- description page ---------- */


.card-img-top{
    padding:15px;
}

.colproduit {
display: flex;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardName{
    margin-top: 0px;
    margin-bottom: auto;  
}


.cardPrice{
    margin-top: 10px;

}


.itembutton{
    margin: 15px;
    margin-bottom: 0px;

}

.iconShop{
    margin-right: 150px;
}

.descrLateral{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}