/* ------ Body ---- */

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
} 

/* ---------- Home page -------------- */

.jumbotron {
    background-image: url('/images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
  }



.logo{
    margin-left: 10px;
}
.cardAll{

    display:flex;
    align-items: stretch;
    }
    

.cardHome{
background-color: aqua;
margin-left: 15px;

}


/* ----- Shop page ---------- */

.header-shop{
    height: 40px;
    padding-left: 20px;
}

.icon-basket{
    margin-right: 5px;
}

.ariane {
    margin-top: 25px;
}

.basket-img {
    width: 100px;
}

.quantity{
display :flex;
flex-direction: row;
width:80%;
align-items: center;
}



.no-article {
    font-size: italic;
    color: crimson;
}


/* ----- description page ---------- */

.title-desc{
    margin-left: 15px;;
}

.headerdetails{
    display:flex;
    flex-direction: row;
}

.price-all{
padding:15px;
margin-top: 35px;
border-color: #636e7a;
border-left: solid 1px  #adbed3;
border-bottom: solid 1px  #adbed3;
border-top: solid 1px  #adbed3;
border-radius: 20px 0px 0px 20px;

}

.stock{
    font-size: x-large;
    color:#636e7a;
}



.btn-buy{
    width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}